@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Philosopher:ital,wght@0,700;1,400&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Fonts Used Are In Commented Form Use This when You Need Changes */

/* font-family: 'Montserrat', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Roboto', sans-serif; */




/* Color Theory Combinations */
:root{
    --white:#fff;
    --footer-Text : rgb(177,177,177);
    --lightblack : rgb(33,33,33);
    --lightgreen : rgb(57,70,57);
    --black : rgb(25,25,25);
}









/* Navbar Design */

body{
    overflow-x: hidden;
}

nav{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black);
    color: var(--footer-Text);
    position: sticky;
    top: 0;
    left: 0;
}

nav h1{
    font-family: 'Philosopher', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

nav ul li{
    list-style: none;
    margin-top: 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--footer-Text);
    font-weight: 500;
    transition: all 0.3s ease;
}

nav ul li a:hover{
    color: white;
    text-decoration: underline;
}

.burger{
    display: none;
}

@media only screen and (max-width:768px){

nav ul li{
    margin-top: 0px;
}

.burger{
    display: block;
    z-index: 2;
}

.burger .line-1,.burger .line-2,.burger .line-3{
    width: 30px;
    height: 4px;
    background-color: var(--white);
    margin: 4px;
}

.nav-links{
    position: absolute;
    top: 10vh;
    right: 0;
    width: 100%;
    height: 90vh;
    background: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s ease;
    transform: translateX(-200%);
}


.nav-active{
    transform: translateX(0%);
}

.burger div{
    transition: all 0.5s ease;
}

.toogle .line-1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toogle .line-2{
    opacity: 0;
}

.toogle .line-3{
    transform: rotate(45deg) translate(-5px,-6px);
}

}















/* First Layer Design */
.firstLayer{
    /* background: url("../images/mainImg/main1.jpg")center center/cover; */
    /* background: url("../images/mainImg/main2.jpg")center center/cover; */
    background: url("../images/mainImg/main3.jpg")center center/cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstLayer .firstLayerInnerContent{
    width: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;   
    font-weight: 800;
}

.firstLayer .firstLayerInnerContent h1{
    font-size: 50px;
    letter-spacing: 0.3px;
}

.firstLayer .firstLayerInnerContent h4{
    width: 68%;
    text-align: center;
    letter-spacing: 0.1px;
}

.firstLayer .firstLayerInnerContent a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 5px 15px;
    color: var(--black);
    background: var(--white);
    font-weight: 100;
}


@media only screen and (max-width:1400px){
.firstLayer .firstLayerInnerContent h4{
    width: 70%;
}
}


@media only screen and (max-width:1111px){
    .firstLayer .firstLayerInnerContent{
        width: 70%;
    }
}

@media only screen and (max-width:768px){
    .firstLayer .firstLayerInnerContent h4{
        width: 100%;
        text-align: center;
    }
    .firstLayer .firstLayerInnerContent h1{
    font-size: 30px;
    }
}

@media only screen and (max-width:460px){
    .firstLayer .firstLayerInnerContent{
        width: 80%;
    }
    .firstLayer .firstLayerInnerContent h1{
        width: 80%;
        font-size: 50px;
        text-align: center;
    }
}


















/* Second Layer Design */

.secondLayer{
    width: 100%;
    min-height: 50vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secondLayer .row{
   display: flex;
   justify-content: center;
   align-items: center;
}

.secondLayer .row h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.secondLayer .row p{
    font-family: 'Montserrat', sans-serif;
   text-align: center;
   letter-spacing: 0.2px;
}

.secondLayer .row p span{
    font-weight: bolder;
}

.secondLayer .row .mytag{
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondLayer .row a{
    text-decoration: none;
    color: var(--white);
    background: var(--lightgreen);
    padding: 10px 20px;
}








/* font-family: 'Montserrat', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Roboto', sans-serif; */











/* Third Layer Design */
.thirdLayer{
    font-family: 'Philosopher', sans-serif;
}

.thirdLayer .fourImageHolder{
    height: 80vh;
}

.thirdLayer .singleImageHolder{
    background: url("../images/shoes/img7.jpg")center center/cover;
    border-top: 10px solid white;
    border-bottom: 10px solid white;
    border-right: 10px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thirdLayer .fourImageHolder .MyLargeImg-row-1{
    border: 10px solid white;
    background: url("../images/shoes/img5.jpg")center center/cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thirdLayer .fourImageHolder .MySmallImg-row-1{
    border: 10px solid white;
    border-left: 0px;
    background: url("../images/shoes/img2.jpg")center center/cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thirdLayer .fourImageHolder .MySmallImg-row-2{
    border-left: 10px solid white;
    background: url("../images/shoes/img4.jpg")center center/cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.thirdLayer .fourImageHolder  .MyLargeImg-row-2{
    border-left: 10px solid white;
    border-right: 10px solid white;
    background: url("../images/shoes/img1.jpg")center center/cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.innerBox{
    /* display: none; */
    color: var(--white);
    text-align: center;
    opacity: 0;
}

.innerBox a{
    color: var(--white);
}

.innerBox:hover{
    background: black;
    padding: 30px;    
    cursor: pointer;
    opacity: 1;
    border-radius: 50%;
}

@media only screen and (max-width:768px){
    .thirdLayer .mygridrow{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .thirdLayer{
        min-height: 80vh;
        border-bottom: 10px solid white;
    }

    .thirdLayer .singleImageHolder{
       display: none;
    }
}


@media only screen and (max-width:450px){
    .thirdLayer .fourImageHolder{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .thirdLayer .row-1{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .thirdLayer .row-2{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .thirdLayer .fourImageHolder  .MyLargeImg-row-2,.thirdLayer .fourImageHolder  .MyLargeImg-row-1,.thirdLayer .fourImageHolder  .MySmallImg-row-2,.thirdLayer .fourImageHolder  .MySmallImg-row-1{
        border: 10px solid white;
    }

}